

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;min-width:50px"  id="home">
  <img class="w3-image" src="/assets/images/foto2.PNG" alt="Hamburger Catering" width="1000" height="6">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">L'Auberge de Sarah</h1>
  </div>
</header>


<div class="w3-content" style="max-width:1100px">

  
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/assets/images/foto.PNG" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">A propos de L'Auberge de Sarah</h1><br>
      <h5 class="w3-center">Une tradition de 1994</h5>
      <p class="w3-large">L'Auberge de Sarah a été fondée en 1994 pour offrir au voisinage un endroit convivial et une joyeuse rencontres des cultures: française, libanaise, espagnole...Une regle: passer les portes de restaurant en ayant en tête votre plat préferé, afin de l'écrire sur notre livre d'or. Qui sait, nous pourrions l'ajouter à la carte!</p>
      <p class="w3-large w3-text-grey w3-hide-medium">
    </div>
  </div>
  
  <hr>
  
</div>
</body>
</html>
