

<table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">Numero facture</th>
        <th scope="col">Prix de la facture</th>
        <th scope="col">Plats</th>
    </thead>
    <tbody>
            <tr scope="row" *ngFor="let uneFacture of listFactures">
                <td >{{uneFacture.idfacture}} </td>
                <td >{{uneFacture.prixTotal}} Euros</td>
                <td><button type="submit" (click)="platsfacture(uneFacture)" class="btn btn-primary">Montrer plats de la facture</button></td>
            </tr>

            
                <tr scope="row" *ngFor="let unPedido of listPedidos">
                    <td style="background-color: burlywood;">Plat: {{unPedido.platPedido.nomPlat}} </td>
                    <td style="background-color: burlywood;">Prix du plat: {{unPedido.platPedido.prixPlat}} Euros</td>
                    <td style="background-color: burlywood;">Quantite: {{unPedido.quantityPlatpedido}} </td>
                </tr>
        </tbody>

        
</table>










