
<p><br><br></p>
<h1 style="margin-left: 130px; font-family:verdana; color: brown; text-decoration: underline;">Ajouter une nouvelle table</h1> 
<p><br></p>


<div class="container">
    <form>
        <div class="form-group">
          <input name="nom" type="text" class="form-control" id="nomPlat"  placeholder="Ajoute le numero de places" [(ngModel)]="newTables.capTables">
          <input name="cap" type="text" class="form-control" id="descripPlat"  placeholder="Ajout le numero de tables avec cette capacité" [(ngModel)]="newTables.numTables">        </div>
        
        <button type="submit" (click)="createTable()" class="btn btn-primary">Validation</button>
      </form>
    </div>
