<p>fairereservation works!</p>

<h1 style="margin-bottom:1cm;">  </h1>
Introduce the number of people

<div  style="display: block" >    <!--style="display: none"--> <!--unHopital.idHopital--> <!--class=unHopital.idHopital--> <!--id="{{unHopital.idHopital}}c"-->
    <input type="text" class="textblock" placeholder="" [(ngModel)]="numeroPersonas" />
</div>

<h1 style="margin-bottom:2cm;">  </h1>


<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <h3>Introduce the date</h3>
        <p-calendar [(ngModel)]="date2"></p-calendar>
    </div>


    <br />
<button type="submit" value="yes" (click)="traitementheure()" class="btn btn-primary">Heure button</button>




<div *ngIf="selecthor">
<form>


    <div class="form-group" >
      <label for="exampleInputEmail1">Horaires disponibles</label>
            
      <div class="form-group">
        <select class="form-control"  [(ngModel)]="horairechoisi" name="horairechoisi">
        <option *ngFor="let hor of listHorairesdispos; let ind = index"  [ngValue]="hor">  <!--[attr.data-index]="ind"-->
            {{hor}}
        </option>
        </select>
      </div>
       </div>
      <button type="submit" (click)="continueralacommande()" class="btn btn-primary">Continuer a la commande</button>

</form>
</div>
      





